body {
    background-color: black;
}

h1 {
    color: #007bff;
}

p {
    color: white;
}

.icons {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0;
}