body {
    width: 100%;
    height: 100%;
    border: 2px solid #007bff;
    background-color: black;
}

h1 {
    color: #007bff;
}

p {
    color: white;
}

.icons {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0;
}

.links {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 0;
}

.center {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
}

.container {
    display: grid;

    /* 3 columns: left, center, right */
    grid-template-columns: 1fr 1fr 1fr;

    /* 3 rows: top, middle, bottom */
    grid-template-rows: auto auto auto;

    /* Name the areas */
    grid-template-areas:
        "topLeft topMiddle topRight"
        "middleLeft Middle middleRight"
        "bottomLeft bottomMiddle bottomRight";

    height: 100vh;
}

.topLeft {
    grid-area: topLeft;
    background: black;
    padding: 20px;
}

.containerH {
    display: flex;
    width: 100vw;
}

.containerV {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top,
.middleV,
.bottom {
    flex: 1;
}

.left,
.middleH,
.right {
    flex: 1;
}