h1 {
    color: #007bff;
}

.icons {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0;
}