body {
    width: 100%;
    height: 100%;
    border: 2px solid #007bff;
    background-color: black;
}

h1 {
    color: #007bff;
}

p {
    color: white;
}

.icons {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0;
}

.links {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 0;
}

.center {
    background-color: black;
    color: white;
    border: 2px solid #007bff;
    margin: 20px;
    padding: 20px;
    right: 50%;
}

.container {
    display: grid;

    /* 3 columns: left, center, right */
    grid-template-columns: 1fr 1fr 1fr;

    /* 3 rows: top, middle, bottom */
    grid-template-rows: auto 1fr auto;

    /* Name the areas */
    grid-template-areas:
        "topLeft topMiddle topRight"
        "middleLeft Middle middleRight"
        "bottomLeft bottomMiddle bottomRight";
}

.topLeft {
    grid-area: topLeft;
    padding: 20px;
}

.topMiddle {
    grid-area: topMiddle;
    padding: 20px;
}

.topRight {
    grid-area: topRight;
    padding: 20px;
}

.middleLeft {
    grid-area: middleLeft;
    padding: 20px;
}

.Middle {
    grid-area: Middle;
    padding: 20px;
}

.middleRight {
    grid-area: middleRight;
    padding: 20px;
}

.bottomLeft {
    grid-area: bottomLeft;
    padding: 20px;
}

.bottomMiddle {
    grid-area: bottomMiddle;
    padding: 20px;
}

.bottomRight {
    grid-area: bottomRight;
    padding: 20px;
    position: relative;
}

#bottomID {
    bottom: 0;
    position: absolute;
}